In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

/Users/conorhanson/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [6]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "reading_score"] = np.nan

In [9]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"] == "9th"), "math_score"] = np.nan

In [11]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
school_data = "resources/schools_complete.csv"
student_data = "resources/students_complete.csv"

In [ ]:
# read school data file
school_data_df = pd.read_csv(school_data)
school_data_df

In [ ]:
school_data_df.info()

In [ ]:
student_data_df = pd.read_csv(student_data)
student_data_df

In [ ]:
student_data_df.info()

In [ ]:
# list of prefixes/suffixes to remove
prefixes_suffixes = ["Mr. ", "Mrs. ", "Miss ", "Dr. ", " MD", " DDS", " DVM", " PhD"]

# iterate through data to remove items in above list and replace with .replace function
for title in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(title, "")

In [ ]:
student_data_df.head(10)

In [ ]:
# merge the school and student datasets on "school_name"
school_data_complete_df = pd.merge(student_data_df, school_data_df, on = ["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# get total number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
school_data_complete_df.info()

In [ ]:
# calculate total number of schools from merged dataset (cannot be done like above on single dataset)
school_count = school_data_complete_df["school_name"].unique()
len(school_count)

In [ ]:
# find total budget from the single school dataset above
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
# calculate mean reading and math scores
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score

In [ ]:
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score

In [ ]:
# begin calculating math and reading scores

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [ ]:
# calculate number of students who passed math
pass_math_count = passing_math["student_name"].count()
pass_math_count

In [ ]:
# calculate number of students who passed reading
pass_reading_count = passing_reading["student_name"].count()
pass_reading_count

In [ ]:
# calculate percentage passing students
pct_reading_pass = pass_reading_count / (student_count) * 100
pct_math_pass = pass_math_count / (student_count) * 100

In [ ]:
print(pct_reading_pass)
print(pct_math_pass)

In [ ]:
passing_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [ ]:
pass_both_count = passing_both["student_name"].count()
pass_both_count

In [ ]:
pct_both_pass = pass_both_count / (student_count) * 100
pct_both_pass

In [ ]:
# create a summary dataframe with all calculated data
district_summary_df = pd.DataFrame(
[{"Total Schools": len(school_count),
 "Total Students": student_count,
 "Total Budget": total_budget,
 "Average Math Score": avg_math_score,
 "Average Reading Score": avg_reading_score,
 "% Passing Math": pct_math_pass,
 "% Passing Reading": pct_reading_pass,
 "% Passing Both": pct_both_pass}])
district_summary_df

In [ ]:
passing_math_count = 29370
total_student_count = 39170

In [ ]:
# function for calculating student summaries
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [ ]:
passing_math_percent(pass_math_count, total_student_count)

In [ ]:
# Formatting dataframes
# district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# district_summary_df["Total Students"]

In [ ]:
# format budget
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

In [ ]:
# format the district summary dataframe
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Both"] = district_summary_df["% Passing Both"].map("{:.0f}".format)

In [ ]:
district_summary_df

In [ ]:
# create dataframe of schools and types using school name as index
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

In [ ]:
school_types_df = pd.DataFrame(school_types)
school_types_df

In [ ]:
# find total number of students per school by indexing 
per_school_count = school_data_df.set_index(["school_name"])["size"]
per_school_count

In [ ]:
# find total number of students by value count()
per_school_count = school_data_complete_df["school_name"].value_counts()
per_school_count

In [ ]:
# find each school budget
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# calculate budget per student
per_student_spend = per_school_budget / per_school_count
per_student_spend

In [ ]:
# get average student scores by school
per_school_avg = school_data_complete_df.groupby(["school_name"]).mean()
per_school_avg

In [ ]:
# get reading and math avg
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_reading

In [ ]:
per_school_math

In [ ]:
# 1. Determine what is the passing grade.

per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [ ]:
per_school_passing_math.head()

In [ ]:
 # 2. Get the number of students who passed math and reading.

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
per_school_passing_math

In [ ]:
 # 3. Get the percentage students who passed math and passed reading
pct_school_pass_math = per_school_passing_math/per_school_count * 100
pct_school_pass_read = per_school_passing_reading/per_school_count * 100

In [ ]:
pct_school_pass_math

In [ ]:
# overall passing percentage
all_pass_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
all_pass_both

In [ ]:
all_pass_both = all_pass_both.groupby(["school_name"]).count()["student_name"]
all_pass_both

In [ ]:
# overall passing percentage
school_overall_pass_pct = all_pass_both / per_school_count * 100
school_overall_pass_pct

In [ ]:
# summary of new data for each school
per_school_summary_df = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_count,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_spend,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": pct_school_pass_math,
    "% Passing Reading": pct_school_pass_read,
    "% Passing Overall": school_overall_pass_pct})
per_school_summary_df

In [ ]:
# format summary per school
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
# per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,.0f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.2f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.2f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.2f}".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.2f}".format)
per_school_summary_df["% Passing Overall"] = per_school_summary_df["% Passing Overall"].map("{:.2f}".format)


per_school_summary_df

In [ ]:
# Begin finding highest performing schools by overall passing %
top_schools = per_school_summary_df.sort_values(["% Passing Overall"], ascending=False)
top_schools.head()

In [ ]:
# find lowest performing schools
bottom_schools = per_school_summary_df.sort_values(["% Passing Overall"], ascending=True)
bottom_schools.head()

In [ ]:
# Grade-level per school dataframes
# 2 dataframes: 1 for reading scores by grade for each school, 1 for math scores by grade for each school

In [ ]:
# 9th grade
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] =="9th")]

In [ ]:
# 10th grade
tenth_graders = school_data_complete_df[(school_data_complete_df)["grade"] =="10th"]

In [ ]:
# 11th grade
eleventh_graders = school_data_complete_df[(school_data_complete_df)["grade"] =="11th"]

In [ ]:
# 12th grade
twelfth_graders = school_data_complete_df[(school_data_complete_df)["grade"] =="12th"]

In [ ]:
ninth_graders.head(5)

In [ ]:
# school math score averages groupby school name
ninth_grade_math_avg = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_avg = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_avg = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_avg = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [ ]:
eleventh_grade_math_avg

In [ ]:
# school reading score averages groupby school name
ninth_grade_read_avg = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_read_avg = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_read_avg = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_read_avg = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
twelfth_grade_read_avg

In [ ]:
# Combine avg math scores by grade and school into dataframe
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_avg,
    "10th": tenth_grade_math_avg,
    "11th": eleventh_grade_math_avg,
    "12th": twelfth_grade_math_avg
})

math_scores_by_grade

In [ ]:
# formatted percentages
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)
math_scores_by_grade

In [ ]:
# Combine avg reading scores by grade and school into dataframe
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_read_avg,
    "10th": tenth_grade_read_avg,
    "11th": eleventh_grade_read_avg,
    "12th": twelfth_grade_read_avg
})
reading_scores_by_grade

In [ ]:
# format reading scores by grade
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:.1f}".format)
reading_scores_by_grade

In [ ]:
# begin creating ranges to group per student spending in relation to avg, overall scores
per_student_spend.describe()

In [ ]:
student_spending_bins = [0, 585, 630, 645, 675]
# create a new dataframe cut into the ranges, using pd.cut(df, ranges)
pd.cut(per_student_spend, student_spending_bins)

In [ ]:
# group the ranges
per_student_spend.groupby(pd.cut(per_student_spend, student_spending_bins)).count()

In [ ]:
range_names = ["<$586", "$586-630", "$631-645", "$646-675"]

In [ ]:
# per school summary based on spending ranges per student
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_student_spend, student_spending_bins, labels=range_names)
per_school_summary_df

In [ ]:
per_school_summary_df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]] = per_school_summary_df[["Total Students", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Overall"]].apply(pd.to_numeric)

In [ ]:
# groupby the spending ranges for students at each school (indexed on the column "Spending Ranges(Per Student)")
spending_math_avg_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_read_avg_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_pct_pass_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_pct_pass_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

spending_pct_pass_overall = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Overall"]

In [ ]:
# compile per student spending bins into dataframe indexed off of the spending bins
student_spending_summary_df = pd.DataFrame({
    "Average Math Score": spending_math_avg_scores,
    "Average Reading Score": spending_read_avg_scores,
    "% Passing Math": spending_pct_pass_math,
    "% Passing Reading": spending_pct_pass_reading,
    "% Passing Overall": spending_pct_pass_overall})
student_spending_summary_df

In [ ]:
# format student_spending summary dataframe
student_spending_summary_df["Average Math Score"] = student_spending_summary_df["Average Math Score"].map("{:.1f}".format)
student_spending_summary_df["Average Reading Score"] = student_spending_summary_df["Average Reading Score"].map("{:.1f}".format)
student_spending_summary_df["% Passing Math"] = student_spending_summary_df["% Passing Math"].map("{:.0f}".format)
student_spending_summary_df["% Passing Reading"] = student_spending_summary_df["% Passing Reading"].map("{:.0f}".format)
student_spending_summary_df["% Passing Overall"] = student_spending_summary_df["% Passing Overall"].map("{:.0f}".format)

student_spending_summary_df

In [ ]:
# dataframe based on school size that shows average scores, passing percentages
school_size_bins = [0, 999, 1999, 5000]
size_bin_names = ["Small (<1000)", "Medium (1000-1999)", "Large (2000-5000)"]

In [ ]:
# add column for school size bins
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], school_size_bins, labels=size_bin_names)

per_school_summary_df

In [ ]:
# Create series for new dataframe indexed on School Size bins
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]

size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]

size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]

size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]

size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Overall"]

In [ ]:
# create the dataframe from the series above
size_summary_df = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Passing Overall": size_overall_passing
})
size_summary_df

In [ ]:
# format size_summary_df
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Passing Overall"] = size_summary_df["% Passing Overall"].map("{:.0f}".format)

In [ ]:
size_summary_df

In [ ]:
# create series for dataframe based on school type
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]

type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]

type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]

type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Overall"]

In [ ]:
# create dataframe based on above series
type_summary_df = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Passing Overall": type_overall_passing
})
type_summary_df

In [ ]:
# format type_summary_df 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Passing Overall"] = type_summary_df["% Passing Overall"].map("{:.0f}".format)

In [ ]:
type_summary_df